In [20]:
import pandas as pd

dataset = pd.read_csv("data SAC.csv", encoding= 'unicode_escape')
row = dataset.shape[0]

In [28]:
mid = int((row+1)/2)

In [35]:
# splitting dataframe by row index
df_1 = dataset.iloc[:mid,:]
df_2 = dataset.iloc[(mid):,:]
print("Shape of new dataframes - {} , {}".format(df_1.shape, df_2.shape))

Shape of new dataframes - (270955, 9) , (270954, 9)

In [37]:
270955 + 270954

541909

In [38]:
row

541909

In [39]:
df_1.tail()

       InvoiceNo StockCode                    Description  Quantity  ... UnitPrice  CustomerID         Country Sales
270950    560601     22380            TOY TIDY SPACEBOY           1  ...      2.10     16764.0  United Kingdom  2.10
270951    560601     22692    DOORMAT WELCOME TO OUR HOME         1  ...      7.95     16764.0  United Kingdom  7.95
270952    560601     21967       PACK OF 12 SKULL TISSUES         1  ...      0.29     16764.0  United Kingdom  0.29
270953    560601     21411    GINGHAM HEART  DOORSTOP RED         1  ...      4.25     16764.0  United Kingdom  4.25
270954    560601     22138  BAKING SET 9 PIECE RETROSPOT          1  ...      4.95     16764.0  United Kingdom  4.95

[5 rows x 9 columns]

In [40]:
df_2.head()

       InvoiceNo StockCode                          Description  Quantity  ... UnitPrice  CustomerID         Country  Sales
270955    560601     22617           BAKING SET SPACEBOY DESIGN         1  ...      4.95     16764.0  United Kingdom   4.95
270956    560601    85183A   CHARLIE & LOLA WASTEPAPER BIN BLUE         1  ...      1.25     16764.0  United Kingdom   1.25
270957    560601    85183B  CHARLIE & LOLA WASTEPAPER BIN FLORA         1  ...      1.25     16764.0  United Kingdom   1.25
270958    560601     22512           DOORSTOP RACING CAR DESIGN         1  ...      3.75     16764.0  United Kingdom   3.75
270959    560602     21754             HOME BUILDING BLOCK WORD         3  ...      5.95     13629.0  United Kingdom  17.85

[5 rows x 9 columns]

In [41]:
df_1.to_csv('data SAC_1.csv')

In [42]:
df_2.to_csv('data SAC_2.csv')